lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

target/
.DS_Store
.arc
.phutil_module_cache

# idea project files
.idea/
*.iml
gwt_unitCache/

# ctags db
/tags

# etags db
/TAGS

# gtags db
/GTAGS
/GRTAGS
/GPATH

# idutils db
/ID

# eclipse project files
.project
.classpath
.settings/

